<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <h2>Ejercicio 1</h2>
        <li v-for="numero in numeros">
            numero {{numero}} 
        </li>
        <input v-model="num">
        <button v-on:click="agregar">Agregar</button>
    </div>
    <script>
        const { createApp } = Vue      
        const obj = createApp({
          data() {
            return {
                numeros: [3,7,2,5,8],
                num: 0
            }
          },
          methods: {
            agregar() { this.numeros.push(this.num) }
          }
        }).mount('#app')
    </script>

</body>
</html>